.leaflet-container {
	height: 98vh;
	width: 98vw;
}

#legend-table {
	border-collapse: collapse;
	border: 1px solid black;
	width: 4vw;
	height: 20vh;
	background-color: white;
}

td,
th {
	border: 1px solid black;
}

.color-width {
	width: 0.5vw;
}

.center-text {
	text-align: center;
}
