.leaflet-container {
	height: 88vh;
}

#legend-table {
	border-collapse: collapse;
	border: 1px solid black;
	width: 4vw;
	height: 10vh;
	background-color: white;
}

td,
th {
	border: 1px solid black;
}

.color-width {
	width: 0.5vw;
}

.center-text {
	text-align: center;
}

#top-bar {
	display: flex;
	justify-content: center;
	gap: 1vw;
	margin-bottom: 1vh;
}

#start-end-form {
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 25.6vw;
}

.side-text {
	width: 35vw;
	display: flex;
	justify-content: center;
	align-items: center;
}
